body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.mobile-display {
  width: 100vw;
  height: 100vh;
  background-color: #bf80ff;
}

.container {
  display: flex;
  position: relative;
  width: 300px;
  height: 450px;
  top: 260px;
  border-radius: 10px;
  margin-left: 45vw;
  align-items: center;
  position: relative;
  background-color: #33d6ff;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  margin-top: 400px;
  margin-bottom: 0;
  background-color: white;
  padding: 8px 5px 8px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li {
  margin: 0 10px;
  gap: 20px;
}

li:hover {
  color: #006600;
  position: static;
}
